---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Icon } from "astro-icon/components";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
);
---

<Layout title="Project Lists">
  <div class="max-w-[150dvh] mx-auto">
    <div class="mb-6 px-6 flex items-center gap-4">
      <button
        onclick="window.history.back()"
        class="flex items-center gap-2 text-lg justify-center"
      >
        <Icon name="mdi:arrow-left" />
      </button>
      <h2 class="text-4xl font-bold">Posts</h2>
    </div>
    
    <div>
      {projects.map((project) => (
        <a href={`/projects/${project.slug}`} transition:name={`project-${project.slug}`}>
          <div class="p-6 hover:bg-white/5 rounded-lg mb-3">
            <h3 class="text-2xl font-medium">{project.data.title}</h3>
            <p class="text-slate-400">{project.data.summery}</p>
            <div class="flex flex-wrap gap-2 mt-2">
              {project.data.tags.map((tag: string) => (
                <div class="px-2 font-mono border rounded text-sm">#{tag}</div>
              ))}
            </div>
          </div>
        </a>
      ))}
    </div>
  </div>
</Layout>
