---
import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
import "../styles/global.css";
import "@fontsource-variable/raleway";

const { title, description, keywords, jsonLD } = Astro.props

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description}>
    <script
      is:inline
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-VJHX1C00BZ"
    ></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-VJHX1C00BZ");
    </script>
    {keywords && <meta name="keywords" content={keywords}/>}
    <title>{title}</title>
  	<script type="application/ld+json" is:inline set:html={jsonLD}>
  	</script>
    <ClientRouter />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style is:global>
  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
